:root {
    --primary-color: #0ea5e9;
}
* {
    font-family: 'Roboto', sans-serif;
}
#grid-container {
    display: grid;
    grid-template-areas: 
    'sidebar right-content';
    height: 100vh;
}
.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    height: 100%;
    color: #fff;
}
.sidebar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}
#right-content{
    display: grid;
    grid-area: right-content;
    grid-template-areas: 
    'header header header'
    'main main main';
    grid-template-rows: min-content auto;
}
.header {
    font-size: 1.2rem;
    font-weight: 600;
    grid-area: header;
    border-bottom: 2px solid #4f4f4f;
}
main {
    display: grid;
    grid-area: main;
    background-color: #E2E8F0;
    padding-right: 3.5em;
}
.projects {
    display: grid;
    grid-template-rows: 30px auto;
    grid-area: 1/1/3/8;
}
#announcements {
    grid-area: announcements;
    height: min-content;
    grid-area: 2/8/auto/10;
}
 h5 {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.card-text {
    font-size: 0.9em;
}

hr {
    width: 90%;
    align-self: center;
    height: 1px solid;
    margin: 10px 0;
}

.trending {
    grid-area: auto/8/auto/10;
}
.logo-img {
    margin: 15px 15px;    
}
svg {
    margin: 15px 20px;
}
/* Header styling */
img {
    width: 50px;
    height: 50px;
}
.topNav {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-top: 10px;
    margin-right: 20px;
}
.search {
    display: flex;
    align-items: center;
}
.search > input {
    width: min(75%);
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ededed;
    width: 100%;
}
.menuIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile > img {
    padding: 0 30px;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile-name {
    margin-left: 10px;
}
h3{
    grid-area: 1/1/1/8;
    padding-left: 15px;
    font-size: 1.2em;
    margin-top: 15px;
}
.buttons {
    margin-right: 10px;
    display: flex;    
    gap: 2rem;
}
.btn {
    width: 70px;
    height: 35px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
  }


  .avatar1 {
    width: 35px;
    height: 35px;
    border: 1px solid #47831eab;
    border-radius: 50%;
    background-color: cadetblue;
    margin-right: 10px;
   }
   li.trend {
    display: flex;
    margin-bottom: 3px;
    margin-left: 5px;

   }
   #announcements > ul > hr {
    border: 1px solid;
   }
   

#cards{
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-area: 2/span 4/auto/7;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 20px 0px #c2c2c2;
    border: 1px solid #4f4f4f;
    border-style: none;
    padding: 20px;
    border-left: 10px solid #f3c50d;
    border-radius: 10px;
    margin: 15px;
    background-color: #fff;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

@media only screen and (min-width: 1900px) {
    #cards {
        grid-template-columns: auto auto auto;
    }
}